@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
	background-color: peachpuff
}

.start{
	text-align: center;
}

.start a{
	font-size: 30px;
	font-family: 'Kalam', cursive;
}

.thumbnail-img{
	width: 80%;
	padding-left: 22%;
}

